<!DOCTYPE html>
<html>

<h1 style="text-align: center;"><span style="color: #808080;">Learning About the State You Were Born In</span></h1>
<br>
<p style="text-align: center;"><span style="color: #808080;">I'll Need Your Name To Know Who You Are! <img src="https://texteditor.com/html/editor/visualeditor/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></span></p>

<form name="passdata" action="." method="post">
  <label for="fname">First name: </label>
  <input type="text" id="fname" name="fname"><br><br>
  <p span style="color: #808080;">I'll Also Need To Know What State Your're From!<img src="https://texteditor.com/html/editor/visualeditor/plugins/emoticons/img/smiley-laughing.gif" alt="laughing" /></span></p>
  
  <label for="state">State: </label>
  <input type="text" id="state" name="state"><br><br>
  <input type="submit" value="Submit">
  

</form><br>

<p style="text-align: center;">Click on the submit button to submit the form.</p>
</html>