 
<html>
    <head>
        <script type="text/javascript">
            // Embedding Python variables into JavaScript
            var brandName = "{{ data.brandName|safe }}"; // Wrap string variable in double quotes
            var ramS = "{{ data.ramSize|safe }}"; // Wrap string variable in double quotes
            var storageS = "{{ data.storageSize|safe }}";
        </script>
        <script type="text/javascript" src="/static/laptopDisplayerFunctions.js"></script>
    </head>

    <div id="myDIV" style="padding:16px;background-color:lightgray" onclick="generateDisplay()">
        <h3>A DIV element</h3>
    </div>


</html>
    