 
<html>
    <head>
        <script type="text/javascript">
            // Embedding Python variables into JavaScript
            var brandName = "{{ data.brandName }}"; // Wrap string variable in double quotes
            var ramS = "{{ data.ramSize }}"; // Wrap string variable in double quotes
            var storageS = "{{ data.storageSize }}";
        </script>
        <script type="text/javascript" src="laptopDisplayerFunctions.js"></script>
    </head>

    <div id="myDIV" style="padding:16px;background-color:lightgray">
        <h3 onmousemove="generateDisplay()">A DIV element</h3>
    </div>


</html>
    