
<html>
<body onclick="clickOut(event)">
<head>
    <link rel="stylesheet" href="/static/changeMainWeb.css">
  
    <script src="/static/functionMainWeb.js"> </script>
</head>


<h1 class="headerText-class" id="webTitle" onclick="rickRoll()">
    Laptops Specifications!
    </h1>
    
    <p class="introductionText-class" id="paragraph1" >
    This is a webpage dedicated to laptops! It will list all the laptops for the brands listed in the dropdown menu.
    </p>
    
    <div class="dropdown" >
      <button onclick="myFunction()" class="dropbtn">Dropdown </button>
      <div id="myDropdown" class="dropdown-content">
        <a href="/apple">Apple</a>
        <a href="/dell">Dell</a>
        <a href="/hp">HP</a>
        <a href="/lenovo">Lenovo</a>
      </div>
    </div>

</body>
</html>