
<html>
<body onclick="clickOut(event)" onload="changeColor()">
<head>
    <link rel="stylesheet" href="/static/changeMainWeb.css">
  
    <script src="/static/functionMainWeb.js"> </script>
</head>


<h1 class="headerText-class" id="webTitle" onclick="rickRoll()">
    Laptops Specifications!
    </h1>
    
    <p class="introductionText-class" id="paragraph1" >
    This is a webpage dedicated to laptops! It will list all the laptops for the brands listed in the dropdown menu
    and other specifications in other dropdowns!
    </p>
    
    <div class="dropdown" >
      <button onclick="showFunction()" class="dropbtn">Brand Type </button>
      <div id="myDropdown" class="dropdown-content">
        <a href="/apple">Apple</a>
        <a href="/dell">Dell</a>
        <a href="/hp">HP</a>
        <a href="/lenovo">Lenovo</a>
      </div>
    </div>

    <div class="dropdown" >
        <button onclick="showFunction()" class="dropbtn">Ram Size </button>
        <div id="myDropdown" class="dropdown-content">
          <a href="/4">4 GB</a>
          <a href="/8">8 GB</a>
          <a href="/16">16 GB</a>
          <a href="/32">32 GB</a>
        </div>
      </div>

      <div class="dropdown" >
        <button onclick="showFunction()" class="dropbtn">Storage Size </button>
        <div id="myDropdown" class="dropdown-content">
          <a href="/64">64 GB</a>
          <a href="/256">256 GB</a>
          <a href="/512">512 GB</a>
          <a href="/1024">1024 GB</a>
        </div>
      </div>

</body>
</html>