.laptopText-class {
    font-family: sans-serif;
    text-align: center;
    color: DarkSlateBlue;
    text-decoration: underline;
}
.mainOutputClass {
    padding:16px;
    background-color:lightgray;
    font-family: sans-serif;
    text-align: center;
    color: DarkSlateBlue;
    text-decoration: underline;
}